{% extends "base.html" %}

{% block content %}
    <div class="container">
        <figure>
            <blockquote class="blockquote">
                <h1 class="display-2">KittyKrypt</h1>
            </blockquote>
            <figcaption class="blockquote-footer">
            Truly a work of art
            </figcaption>
        </figure>
    </div>
<div class="row">
    <div class="col-md">
        <div class="container">
            <h2>Step 1</h2>
            <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="cat_file" class="form-label">Select a cat picture to act as your key!</label>
                    <input class="form-control" id="cat_file" type="file" name="cat_file">
                </div>
                <div class="mb-3">
                    <label for="cat_key" class="form-label">Already have a key? Enter it in here!</label>
                    <input class="form-control" id="cat_key" type="text" name="cat_key">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" name="random_cat">Random cat!</button>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success" name="load_cat">Submit</button>
                </div>
            </form>
            <img width="300" height="300" src="{{ url_for('static', filename='uploads/cat'+props.cat_extension) }}" id="Cat-Image">
            <p class="text-muted">Don't forget to save your image!</p>
        </div>
    </div>
    <div class="col-md">
        <div class="container">
            <h2>Step 2</h2>
            <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="input_file" class="form-label">Select the file you would like to encrypt/decrypt.</label>
                    <input class="form-control" id="input_file" type="file" name="input_file">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radiobutton" id="flexRadioDefault1" value="encryption" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Encryption
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="radiobutton" id="flexRadioDefault2" value="decryption">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Decryption
                    </label>
                    </div>
                <button type="submit" class="btn btn-success" name="load_input">Submit</button>
            </form>
        </div>
    </div>
</div>
            

{% endblock %}